name: Integration
on:
  push:
    branches: [ main ]
    paths:
      - '**.go'
      - 'go.mod'
      - '.github/workflows/integration.yml'
  pull_request:
    paths:
      - '**.go'
      - 'go.mod'
      - '.github/workflows/integration.yml'
env:
  GOPROXY: "https://proxy.golang.org"

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:9.6
        env:
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432
    steps:
      - name: Check out code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: 1.25.x
      - name: Install pnpm
        uses: pnpm/action-setup@9fd676a19091d4595eefd76e4bd31c97133911f1 # v4.2.0
        with:
          version: 10
          run_install: |
            - cwd: pgrokd/web
      - name: Run tests
        run: |
          go test ./integration-tests -v -long
