# Docs: https://goreleaser.com/ci/actions/
name: Release
on:
  release:
    types: [ published ]

permissions:
  contents: write

jobs:
  pgrok:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Fetch all Git tags
        run: git fetch --force --tags
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.25.x
      - name: Build and release
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean --config .goreleaser.pgrok.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          HOMEBREW_TAP_GITHUB_TOKEN: ${{ secrets.GORELEASER_GITHUB_TOKEN }}
  pgrokd:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Fetch all Git tags
        run: git fetch --force --tags
      - name: Install Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.25.x
      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 10
          run_install: |
            - cwd: pgrokd/web
      - name: Build web app
        run: pnpm --dir pgrokd/web run build
      - name: Build and release
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean --config .goreleaser.pgrokd.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
