# Docs: https://goreleaser.com/ci/actions/
name: Release
on:
  release:
    types: [ published ]

permissions:
  contents: write

jobs:
  pgrok:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: git fetch --force --tags
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.x
          cache: true
          cache-dependency-path: go.sum
      - uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: latest
          args: release --clean --config .goreleaser.pgrok.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  pgrokd:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - run: git fetch --force --tags
      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.20.x
          cache: true
          cache-dependency-path: go.sum
      - uses: goreleaser/goreleaser-action@v4
        with:
          distribution: goreleaser
          version: latest
          args: release --clean --config .goreleaser.pgrokd.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
